<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1582149916751-c4ecb7b29adb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Welcome to your <strong>Movie</strong> Room !</h1>
    <p>This is all the movie available in the App</p>
  </div>
</div>
<br>
<div class="cards">
  <% @movies.each do |movie| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>);)">
      <%= link_to ("<i class=\"fas fa-search\"></i>").html_safe, movie_path(movie) %>
      <%= movie.title %> 
    </div>
  <% end %>
</div>
</div>